html{
  color: bisque;
  background-color: rgb(35, 36, 37);
  display: flex;
  height: 99vh;
  justify-content: center;
  align-items: center;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > *{
  padding-right: 5px;
}
.searchbar{
  background-color: #1b1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 3px;
  border-radius: 4px;
}
#searchtxt{
  padding-right: 25px;
  padding-left: 5px;
}
.searchbar >*{
  padding: 0px;
  margin: 0px;
}
#txtlink{
  text-decoration: none;
  color: antiquewhite;
}